################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Debug
/Sudoku/Debug/Sudoku.tlog
/Sudoku/Debug
/Sudoku/Sudoku.vcxproj.user
/Sudoku/Sudoku.vcxproj.filters
/Sudoku/Sudoku.vcxproj
/.vs/Sudoku/v15
